.register-form{
  max-width: 600px;
  margin: auto;
  width: 100%;
  padding: 16px 22px 45px;
  background: #fff;
}
::ng-deep app-root,
::ng-deep app-login{
  height: 100%;
  display: block;
}
::ng-deep app-registration{
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f3f3f3;
}
::ng-deep .btn-default {
  border: 1px #000000 solid;
  background-color: #ffffff;
  color: #000000!important;
}
::ng-deep .mdc-button__label{
  display: flex;
  gap: .5rem;
}
::ng-deep .cdk-global-overlay-wrapper{
  display: block;
}
